<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=flat-jooza" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.min.css" integrity="sha512-3Lr2MkT5iW+jVhwKFUBa+zQk8Uklef98/3mebU6wNxTzj65enYrFXaeuqPAYWxcQd1GAt9aUBvYHOIcl2SUsKA==" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
 
    <title>اوردرلي | نَظم طلباتك </title>
</head>
<body>
    
    
    <nav class="navbar fixed-top navbar-expand navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
        
            
            <div class="navbar-header">
                <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false" style="background-color: #0f92e4 ">
                    <span class="glyphicon glyphicon-align-justify white" aria-hidden="true"></span>
                </button>
                <a class="navbar-brand" href="/">اوردرلي</a>
            </div>
            
            
            <div class="collapse navbar-collapse" id="example-1">
                <ul class="nav navbar-nav">
                    <li><a href="/purchase">مشتريات </a></li>
                    <li><a href="/order">طلبيات</a></li>
                    <li><a href="/">جملة</a></li>
                    <li><a href="/">مبيعات</a></li>
                </ul>
            </div>
        
        </div>
    </nav>
    
