<html dir="rtl">
    <h1>Hi all and welcome</h1>
<% for( var i =0; i<campgrounds.length ; i++){ %>
    <li><%= campgrounds[i].name%> || <%= campgrounds[i].image%> || <%= campgrounds[i].description%></li>
<% } %>
</html>
