<%- include("./partials/header")%>

<div class="container">
    <h1>مرحبا بكم في تطبيق اوردرلي</h1>
    <br>
    <br>
    <h3>تصميم سلس لإدارة أفضل </h3>

  </div>

<%- include("./partials/footer")%>

