<%- include("./partials/header")%>

<div class="container">

    <div class="row">
        <h1 style="text-align: center">إضافة مشتريات أونلاين جديدة</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/onlinePurch" method="POST">


                <div class="form-group">
                    <select class="form-control" name="type" >
                        <% for(var i=0; i<items.length; i++){ %>
                            <option value="<% items[i].type %>"><%= items[i].type %> </option>
                        <% } %>
                    </select>
                </div>


                <div class="form-group">
                    <input class="form-control" type="text" name="sourceURL" placeholder="رابط المنتج أونلاين">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="wholesalePriceUSD" placeholder="سعر المنتج بالدولار">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="wholesalePriceILS" placeholder="سعر القطعة الأصلي بالشيكل">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="retailPrice" placeholder="سعر القطعة مفرق بالشيكل">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="number" placeholder="عدد القطع">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="dateOrdered" placeholder="تاريخ الطلب">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="dateArrived" placeholder="تاريخ الوصول(ليس بعد)">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">إدخال </button>
                </div>
            </form>
            <a href="/purchase">رجوع للصفحة السابقة </a>
        </div>
    </div>

</div>

<%- include("./partials/footer")%>